// 字体颜色
t-white = #fff // 字体 - 白
t-blue = #5093FF // 字体 - 蓝
t-red = #ff3b30 // 字体 - 红
t-green = #15be31 // 字体 - 绿
t-black = #333 // 字体 - 主黑
t-gray = #c1c1c1 // 字体 - 副标题灰
t-border = #e6e6e6 // 默认边框颜色
// 圆角
b-r-xs = 2px
b-r-xs = 3px
b-r = 5px
b-r-xl = 10px
// 字体大小
f-sm = 12px
f-md = 14px
f-xl = 18px
f-lg = 24px
// margin padding
len-mg = 20px
len-pd = 20px